/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 30, 2018, 9:52:49 PM
    Author     : Rohan
*/

#sign-up{
    -fx-background-color: linear-gradient(#1193b8,#23c1ef,transparent); 
    -fx-font-family: "Verdana";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-fill: linear-gradient(#003d89,#1e2e9a);
}

#text{
    -fx-font-size: 30px;
    -fx-font-family: "Times New Roman";
    -fx-font-weight: bold;
    -fx-fill:#181818;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

#register{
    -fx-text-fill: #05a40a;
    -fx-font-weight: bold;
    -fx-effect: innershadow(three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2);
}